    <!-- Show the offering particulars -->
<section data-ng-controller="OfferingsController" data-ng-init="findOne()">


	<!-- Next few sections below show the standard Offering fields. -->
    <div class="page-header">
        <h1>Rate Offering</h1>
    </div>
			<h4 class="list-group-item-heading" data-ng-bind="offering.name"></h4>

	<p data-ng-bind="offering.description"></p>

	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="offering.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="offering.user.displayName"></span>
		</em>
	</small>
</section>

    <!-- Here we provide input fields for the comment rating. -->
<section data-ng-controller="RatingsController">  
    <h3>Rating</h3>
    
    <!-- Provide a numerical rating -->
    <div ng-init="rating = star.rating + 1"></div>

    <div class="star-rating" star-rating rating-value="rating"
        data-max="5" on-rating-selected="rateFunction(rating)">
    </div>


    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="comment">Comment</label>
                    <div class="controls">
                        <textarea data-ng-model="comment" id="comment" class="form-control" placeholder="Comment" required rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Post" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>