<section ng-controller="ModaluploadController">

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Photo upload</h3>
        </div>
        
        <div class="modal-body">


		    <section ng-controller="PhotosController">
			    <form name="contactform">  
			        <div>
			            <label for="inputImage">Image</label>
			            
			            <input id="inputImage" type="file" accept="image/*" image="image"/>
			            
			            <img ng-show="image" ng-src="{{image.url}}" type="{{image.file.type}}"/>


				        <div class="modal-footer">
				            <button class="btn btn-primary" type="submit" ng-click="photouploaded=true ; create(image)" >Add</button>
				            <button class="btn btn-secondary" type="reset">Clear</button>
				    	<!--  // buttons below should alternate only when ADD button above has been pressed.  -->
	      				    <button class="btn btn-warning" ng-hide="photouploaded" ng-click="cancel()">Cancel</button>
	            			<button class="btn btn-primary" ng-show="photouploaded" ng-click="ok()">OK</button>
	        			</div>

			        </div>
			    </form>
		    </section>


        </div>
    </script>

    <!-- This is viewed on the profile page: -->
    <button class="btn btn-default" ng-click="open()">Update photo</button>

</section>
