<section data-ng-controller="RatingsController">
    <div class="page-header">
        <h1>New Rating</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="comment">Comment</label>
                    <div class="controls">
                        <textarea data-ng-model="comment" id="comment" class="form-control" placeholder="Comment" required></textarea> 
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>