<section data-ng-controller="RatingsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="rating.rating"></h1>
		<h4 data-ng-bind="rating.comment"></h4>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == rating.user._id))">
		<a class="btn btn-primary" href="/#!/ratings/{{rating._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="rating.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="rating.user.displayName"></span>
		</em>
	</small>
</section>
